@model IEnumerable<LorKingDom.ViewModels.SexViewModel>

@{
    Layout = "_Layout";
}

<h2>Danh sách giới tính</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Giới tính</th>
            <th>Ngày tạo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SexId</td>
                <td>@item.Name</td>
                <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>
